*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    font-family:Arial, Helvetica, sans-serif;
    background: #e6e9f0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image: radial-gradient(circle,rgba(255,255,255,0.9),rgba(0,0,0,0.1));

}

.container{
    text-align:center;
    background: rgba(255, 255, 255, 0.2);
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#nameOutput{
    width: 400px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
    border: none;
    background: rgba(255, 255, 255, 0,6); 
    border-radius: 15px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#generateButton{
    padding: 15px 30px;
    font-size: 18px;
    background: rgba(0, 200, 255, 0.227);
    color:white;
    border: none;
    border-radius: 50%; /*50% bevel shape*/
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#generateButton:hover{
    background: rgba(0, 128, 255, 0.8);
    transform: translateY(-2px);
}

#generateButton:active{
    transform: translateY(2px);
}

/*Liquid Glass Effect*/
#generateButton{
    backdrop-filter: blur(10px);
    box-shadow:0px 4px 6px rgba(0,0,0,0.2);

}
.water-shadow-container{
    margin-top:20px;
 
}
