body {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(198, 214, 243);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;

}

.section {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0;
    padding: 0px 16px;
    color: #fff;
    font-weight: 600;
    background: rgba(40, 42, 53, 0.5);
    border-radius: 9999px;
    backdrop-filter: blur(12px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

}

p {
    flex-grow: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    /* -webkit-transition: .4s; */
    transition: .4s;
}

.slider-round:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider-round {
    background-color: #2196f3;
}

input:focus + .slider-round {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider-round:before {
    transform: translateX(13px);
}

.slider-round {
    border-radius: 9999px;
}

.slider-round:before {
    border-radius: 50%;
}
